In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import nltk

In [4]:
from nltk.corpus import stopwords

In [5]:
from sklearn import naive_bayes

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
from sklearn.metrics import roc_auc_score

In [9]:
df = pd.read_csv('spam.csv', encoding= 'latin-1')

In [10]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [11]:
df = df.dropna(axis = 1)

In [12]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [13]:
df.columns

Index(['v1', 'v2'], dtype='object')

In [14]:
df.columns = ['label' ,'message']

In [15]:
df = df[['message', 'label']]

In [16]:
df

                                                message label
0     Go until jurong point, crazy.. Available only ...   ham
1                         Ok lar... Joking wif u oni...   ham
2     Free entry in 2 a wkly comp to win FA Cup fina...  spam
3     U dun say so early hor... U c already then say...   ham
4     Nah I don't think he goes to usf, he lives aro...   ham
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

[5572 rows x 2 columns]

In [17]:
stopset = set(stopwords.words('english'))

In [18]:
vectorizer = TfidfVectorizer(use_idf= True, lowercase = True, strip_accents= 'ascii', 
                            stop_words = stopset)

In [19]:
y = df.label

In [20]:
y

0        ham
1        ham
2       spam
3        ham
4        ham
        ...
5567    spam
5568     ham
5569     ham
5570     ham
5571     ham
Name: label, Length: 5572, dtype: object

In [21]:
x = vectorizer.fit_transform(df.message)

In [22]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y, random_state = 23)

In [25]:
clf = naive_bayes.MultinomialNB()

In [26]:
clf.fit(xtrain,ytrain)

MultinomialNB()

In [27]:
roc_auc_score(ytest, clf.predict_proba(xtest)[:,1])

0.9903231507938844

In [28]:
result = np.array(["is that how you spell his name?"])

In [30]:
result_class=vectorizer.transform(result)

In [31]:
print(clf.predict(result_class))

['ham']

In [32]:
new = np.array(["I see the letter B on my car"])

In [33]:
result = vectorizer.transform(new)

In [34]:
clf.predict(result)

array(['ham'], dtype='<U4')