In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn import datasets

In [41]:
from sklearn.svm import SVC, LinearSVC

In [7]:
df = pd.read_csv('spam.csv', encoding = 'latin-1')

In [8]:
df

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [9]:
df = df.dropna(axis = 1)

In [10]:
df

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [12]:
df.columns = ['label', 'message']

In [13]:
df= df[['message' , 'label']]

In [14]:
df

                                                message label
0     Go until jurong point, crazy.. Available only ...   ham
1                         Ok lar... Joking wif u oni...   ham
2     Free entry in 2 a wkly comp to win FA Cup fina...  spam
3     U dun say so early hor... U c already then say...   ham
4     Nah I don't think he goes to usf, he lives aro...   ham
...                                                 ...   ...
5567  This is the 2nd time we have tried 2 contact u...  spam
5568              Will Ì_ b going to esplanade fr home?   ham
5569  Pity, * was in mood for that. So...any other s...   ham
5570  The guy did some bitching but I acted like i'd...   ham
5571                         Rofl. Its true to its name   ham

[5572 rows x 2 columns]

In [15]:
df.keys()

Index(['message', 'label'], dtype='object')

In [16]:
df2 = df.head(25)

In [17]:
df2

                                              message label
0   Go until jurong point, crazy.. Available only ...   ham
1                       Ok lar... Joking wif u oni...   ham
2   Free entry in 2 a wkly comp to win FA Cup fina...  spam
3   U dun say so early hor... U c already then say...   ham
4   Nah I don't think he goes to usf, he lives aro...   ham
5   FreeMsg Hey there darling it's been 3 week's n...  spam
6   Even my brother is not like to speak with me. ...   ham
7   As per your request 'Melle Melle (Oru Minnamin...   ham
8   WINNER!! As a valued network customer you have...  spam
9   Had your mobile 11 months or more? U R entitle...  spam
10  I'm gonna be home soon and i don't want to tal...   ham
11  SIX chances to win CASH! From 100 to 20,000 po...  spam
12  URGENT! You have won a 1 week FREE membership ...  spam
13  I've been searching for the right words to tha...   ham
14                I HAVE A DATE ON SUNDAY WITH WILL!!   ham
15  XXXMobileMovieClub: To use your credit, click ...  spam
16                         Oh k...i'm watching here:)   ham
17  Eh u remember how 2 spell his name... Yes i di...   ham
18  Fine if thatåÕs the way u feel. ThatåÕs the wa...   ham
19  England v Macedonia - dont miss the goals/team...  spam
20          Is that seriously how you spell his name?   ham
21  IÛ÷m going to try for 2 months ha ha only joking   ham
22  So Ì_ pay first lar... Then when is da stock c...   ham
23  Aft i finish my lunch then i go str down lor. ...   ham
24  Ffffffffff. Alright no way I can meet up with ...   ham

In [22]:
dfh = df2[df2.label=='ham'].head()

In [23]:
dfs = df2[df2.label=='spam'].head()

In [20]:
import seaborn as sns

In [21]:
import matplotlib.pyplot as plt

In [24]:
dfh

                                             message label
0  Go until jurong point, crazy.. Available only ...   ham
1                      Ok lar... Joking wif u oni...   ham
3  U dun say so early hor... U c already then say...   ham
4  Nah I don't think he goes to usf, he lives aro...   ham
6  Even my brother is not like to speak with me. ...   ham

In [25]:
dfs

                                              message label
2   Free entry in 2 a wkly comp to win FA Cup fina...  spam
5   FreeMsg Hey there darling it's been 3 week's n...  spam
8   WINNER!! As a valued network customer you have...  spam
9   Had your mobile 11 months or more? U R entitle...  spam
11  SIX chances to win CASH! From 100 to 20,000 po...  spam

In [28]:
df2

                                              message label
0   Go until jurong point, crazy.. Available only ...   ham
1                       Ok lar... Joking wif u oni...   ham
2   Free entry in 2 a wkly comp to win FA Cup fina...  spam
3   U dun say so early hor... U c already then say...   ham
4   Nah I don't think he goes to usf, he lives aro...   ham
5   FreeMsg Hey there darling it's been 3 week's n...  spam
6   Even my brother is not like to speak with me. ...   ham
7   As per your request 'Melle Melle (Oru Minnamin...   ham
8   WINNER!! As a valued network customer you have...  spam
9   Had your mobile 11 months or more? U R entitle...  spam
10  I'm gonna be home soon and i don't want to tal...   ham
11  SIX chances to win CASH! From 100 to 20,000 po...  spam
12  URGENT! You have won a 1 week FREE membership ...  spam
13  I've been searching for the right words to tha...   ham
14                I HAVE A DATE ON SUNDAY WITH WILL!!   ham
15  XXXMobileMovieClub: To use your credit, click ...  spam
16                         Oh k...i'm watching here:)   ham
17  Eh u remember how 2 spell his name... Yes i di...   ham
18  Fine if thatåÕs the way u feel. ThatåÕs the wa...   ham
19  England v Macedonia - dont miss the goals/team...  spam
20          Is that seriously how you spell his name?   ham
21  IÛ÷m going to try for 2 months ha ha only joking   ham
22  So Ì_ pay first lar... Then when is da stock c...   ham
23  Aft i finish my lunch then i go str down lor. ...   ham
24  Ffffffffff. Alright no way I can meet up with ...   ham

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
x= df.message
y= df.label
xtrain,xtest,ytrain,ytest = train_test_split(x,y , test_size = 0.3)

In [31]:
xtrain

4117    Watch lor. I saw a few swatch one i thk quite ...
107     How would my ip address test that considering ...
2721       I'm working technical support :)voice process.
3195    I av a new number,  . Wil u only use this one,ta.
3017         I didn't get the second half of that message
                              ...
1881                              Ok.. ÌÏ finishing soon?
192                 Hi :)finally i completed the course:)
3315    I know girls always safe and selfish know i go...
2607    :-) yeah! Lol. Luckily i didn't have a starrin...
462     UpgrdCentre Orange customer, you may now claim...
Name: message, Length: 3900, dtype: object

In [32]:
ytrain

4117     ham
107      ham
2721     ham
3195     ham
3017     ham
        ...
1881     ham
192      ham
3315     ham
2607     ham
462     spam
Name: label, Length: 3900, dtype: object

In [45]:
model = SVC()

In [43]:
model

LinearSVC()

In [44]:
model.fit(xtrain, ytrain)

ValueError: could not convert string to float: 'Watch lor. I saw a few swatch one i thk quite ok. Ard 116 but i need 2nd opinion leh...'